@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  
  overflow: scroll;
}

.header-top {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  /* background:  linear-gradient(to right, #00547B, #000000); */
  background-color: #514f72;

  text-align: left;
}
.logout-button{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(0, 17, 33);
}
.logo {
  display: flex;
}

.container-body text-area {
  overflow-y: scroll;
}
.logo-text {
  padding: 5px;
  font-size: 24px;
  font-style: oblique;
  font-weight: 500;
  color: black;
  align-items: center;
}


.sub-text {
  font-style: italic;
  font-weight: 400;
  color: black;
  text-align: center;
}

.sub-text2 {
  font-style: italic;
  font-weight: 400;
  color: black;
  text-align: left;
  padding: 10px 10px 10px 20px;
}

.uploadContainer {
  display: flex;
  flex-direction: column; /* To center-align vertically */
  align-items: center;
  justify-content: center; /* To center-align horizontally */
  max-width: 500px;
  color: white;
  padding: 15px; /* Apply 15px padding on all sides */
}

.uploadContainer2 {
  display: flex;
  width: 100%;
  align-items: right;
  color: white;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-top: 10px;
}

.uploadIcon {
  font-size: 30px;
  padding-left: 5px;
  color: black;
}

.uploadText{
  font-size: 16px;
  font-style: italic;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
  height: 100%;
  background-color: #E4DCCF;
  border: 2px solid black;
  border-radius: 3px;
}


.banner-header {
  color: black;
  font-weight: 200;
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.sidebar-text{
  color: white;
  font-style: italic;
  font-size: 20px;
  width: 100vh;
  text-align: center;
  padding-top: 10px;
  
}

.banner-header p {
  width: 400px;
  font-size: 16px;
  font-weight: bold;
}

.scrollable-container {
  position:sticky;
  width:100%;
  height: 600px;
  overflow-y: auto;
  padding-left: 20px;
  max-width: 450px;
  border: none;
  padding-top: 10px;
  gap: 5px;
  color: #E4DCCF;
}

.templates-gallery {
  width: 450px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 1px solid #000000;
  padding-top: 10px;
  
}


.banner-text {
  color: white;
  font-weight: 200;
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.banner-text p {
  width: 400px;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color: white
}

.session {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}
.session p {
  color: white;
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
}
.session svg {
  margin-left: 10px;
}
.sidebar-button {
  max-width: 100px;
  width: 80%;
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #f46f22;
  border: 1px solid #f46f22;
  height: 40px;
}




.sidebar-divider{
  border-top: 1px solid #797676;
}

.sidebar-button:hover {
  box-shadow: 1px 1px 1px 1px#58567C;
}
.sidebar-button p {
  color: #f46f22;
  font-size: 12px;
  padding-right: 5px;
}

.work-bench-button {
  max-width: 100px;
  height: 28px;
  width: 75%;
  border-radius: 4px;
  background-color: #f46f22;
  
}
.work-bench-button p {
  color: white;
}




.app-container {
  display: flex;
  height: 100%;
  position: relative;
  overflow: auto;
}
.chat-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  margin: 0 auto;
  align-items: center;
  background-color: #E4DCCF;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  height:100%;
  flex-grow: 1;
}
.final-container {
  overflow-y: scroll;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.chat-header {
  display: flex;
  /* max-width: 1110px; */
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid white;
  background-color: #2f2c53;
}
.chat-header p {
  font-size: 15px;
  margin-left: 10px;
  color: white;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.band-flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}
.band-top {
  background: #f46f22;
  width: 100%;
  height: 30%;
}
.band-bottom {
  background: #58567c;
  width: 100%;
  height: 70%;
}
.grand-parent {
  max-height: 55vh;
  min-height: 55vh;
  box-shadow: 5px 5px 5px 5px rgb(52, 53, 65, 0.2);
  background-color: #2f2c53;
  z-index: 3;
  flex: 1 1 auto;
  position: relative;
  /* max-width: 1110px; */
  width: 100%;
  overflow: scroll;
}
.parent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  min-height: 55vh;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.final-container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0 0 4px 4px;
  background-color: #3e3b64;
  /* max-width: 1110px; */
}
.container-body {
  display: flex;
  flex-direction: row;
  border: 1px solid #a7a4c4;
  border-width: 2px;
  border-radius: 4px;
  width: 100%;
  max-width: 1080px;
  height: auto;
  max-height: 200px;
  justify-content: center;
  align-items: flex-end;
  padding: 2px;
  margin: 15px;
  background-color: #58567c;
  box-shadow: 15px 5px 5px 5px rgb(52, 53, 65, 0.2);
}
.chat-input {
  flex: 2 1 auto;
  padding: 5px;
  margin-right: 5px;
  background: transparent;
  overflow-y: scroll;
  color: #ffffff;
}
.chat-input::-webkit-scrollbar {
  display: none;
}

.chat-input:focus-visible {
  outline: none;
}

textarea {
  max-height: 200px;
  overflow-y: hidden;
  resize: none;
}
.button {
  height: 38px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 5px;
  background: #f46f22;
}
.button:hover {
  opacity: 85%;
}
.session-button {
  padding: 5px;
  height: 46px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: 16px;
  background: #18CD8C;
}

.feedback-thumbs-button {
  margin: 10px;
}
.feedback-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.css-k008qs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 2px;
  box-shadow: 2px 2px 2px 2px rgb(52, 53, 65, 0.2);
}

.user-details {
  display: flex;
  color: #ffffff;
  font-size: 14px;
}

.icon {
  margin-right: 10px;
}

.message-date {
  color: #a7a4c4;
  font-size: 12px;
}
.user-message {
  background-color: #3e3b64;
}
.system-message {
  background-color: #2f2c53;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.response {
  margin: 10px;
  color: #ffffff;
  font-size: 13px;
  max-width: 85%;
}

.url-responses {
  margin-top: 10px;
  padding: 5px;
  background-color: #37355a;
  border-radius: 8px;
}
.url-flex {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.url-image {
  display: flex;
  align-items: center;
}
.url-image li {
  list-style: none;
  color: #37b2ff;
}
.response-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.response ol li {
  list-style-type: decimal;
  margin-left: 20px;
}
.response ul li {
  list-style-type: circle;
  margin-left: 20px;
}
.response code {
  font-family: monospace;
  font-size: inherit;
}
.response a {
  text-decoration: underline;
}

.feedback {
  display: flex;
  width: 200px;
  margin: 2px 0 10px 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#like > svg:hover {
  stroke: #f46f22;
}
.like-clicked > svg {
  fill: #f46f22;
}
#dislike > svg:hover {
  stroke: #f46f22;
}
.dislike-clicked > svg {
  fill: #f46f22;
}
#send > svg:hover {
  stroke: #f46f22;
}
.feedback-input {
  width: 100%;
  height: 35px;
  padding: 5px;
  outline: black;
  border-width: 2px;
  border-radius: 5px;
}
.feedback-input-button {
  background-color: #2f2c53;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 26px;
}
.feedback-container {
  height: 76px;
  width: 100%;
  background-color: #8683a3;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
}
.feedback-input-container {
  display: flex;
  padding: 3px;
  border: 1px solid #e7e7e7;
  height: 32px;
  color: #ffffff;
  align-items: center;
  border-radius: 4px;
  background: rgba(65, 65, 95, 0.3);
}

.feedback-input-container  text-area {
  overflow-y: scroll;
}

.feedback-container p {
  color: #ffffff;
  font-size: 13px;

}
.feedback-button {
  width: 60px;
  height: 30px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: rgb(68, 70, 84, 0.5);
  box-shadow: 2px 2px 2px 2px rgb(52, 53, 65, 0.2);
}
.feedback-button:hover {
  opacity: 0.9;
}

.clear-button {
  width: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(68, 70, 84, 0.5);
  box-shadow: 2px 2px 2px 2px rgb(52, 53, 65, 0.2);
  margin-top: 10px;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/* Message Loading animation */
.progress{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width:100%;
}

.progress p{
  font-size: 16px;
  margin-right: 10px;
  color: #FFFFFF;
}
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f46f22;
  color: #f46f22;
  margin: 15px;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f46f22;
  color: #f46f22;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

/* Figma css */

:root {
  --black: #000000;

  --font-size-l: 16px;
  --font-size-m: 14px;

  --font-family-inter: "Inter", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600|Inter:400,700,500,600");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/6432fa411c238d5749f991ca.6432fa42014ecf4629b188be.4DmT77H.hcp.png");

* {
  box-sizing: border-box;
}

/* screen - 359_2649 */

.frame-2 {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 17px 8px;
  position: relative;
  width: 100%;
  background-color: #9d542a;
}

.frame-3 {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-bottom: -7px;
  margin-top: -7px;
  position: relative;
  width: fit-content;
}

.frame-1000004664 {
  height: 20px;
  min-width: 109px;
  position: relative;
}

.line-1 {
  height: 30px;
}

.product-support {
  color: white;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.frame-40505 {
  align-items: center;
  display: flex;
  gap: 24px;
  margin-bottom: -12px;
  margin-top: -12px;
  position: relative;
  width: fit-content;
}

.frame-40502 {
  align-items: center;
  border: 1px solid;
  border-color: #e3e5e7;
  border-radius: 2px;
  display: flex;
  height: 29px;
  justify-content: space-between;
  padding: 0px 16px;
  position: relative;
  width: 279px;
}

.find-answers {
  color: #98a5b3;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.search {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.frame-40494 {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.heroicons-solidbell {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.overlap-group {
  height: 21px;
  left: 4px;
  position: relative;
  top: 1px;
  width: 17px;
}

.icon-notifications {
  height: 19px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 17px;
}

.ellipse-963 {
  background-color: #f46f22;
  border: 1px solid;
  border-color: #2f2c53;
  border-radius: 3.5px;
  box-shadow: 0px 4px 4px #0000001f;
  height: 7px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 7px;
}

.line-844 {
  height: 40px;
}

.icon-question_mark {
  height: 19px;
  min-width: 19px;
  position: relative;
}

.frame-2-1 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.name {
  color: #ffffff;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.heroicons-solidchevron-down {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.line {
  min-width: 1px;
  object-fit: cover;
  position: relative;
}

/* screen - 359_2674 */

.subheader {
  align-items: center;
  background: linear-gradient(
    to right,
    rgb(81, 79, 114) 0%,
    rgb(0, 17, 33) 100%
  );
  display: flex;
  height: 60px;
  padding: 17px 16px;
  position: relative;
  width: 100%;
}

.query-radio-button{
  width:100%;
  margin-left: 25px;
}

.frame-1000004668 {
  align-items: flex-start;
  gap: 10px;
  padding: 0px 12px;
}

.workbench {
  color: #ffffff;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-3 {
  align-items: center;
  gap: 13px;
}

.root-account-palo-alto-networks {
  color: #ffffff;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.expand_more_fill0_wg {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.frame {
  display: flex;
  margin-bottom: -1px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.img-placeholder {
  width: 250px;
  height: 250px;
  border: 2px dotted #000000;
  background-color: lightgray;
  padding: 10px 10px 10px 10px;
}

.form-container {
  width: 800px;
  border: 2px solid #f46f22;
  padding: 30px 30px 30px 30px;
  border-radius: 3px;
}
.form-container2 {
  width: 800px;
  align-items: left;
  
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.hiddendiv {
  display: none;
}
.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 3px;
  vertical-align: text-top;
}
.form-input2 {
  width: 100px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 3px;
  vertical-align: text-top;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px; 
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Add some spacing between input and error message */
  position: relative; /* Required for positioning the error message */
}

.form-largeinput {
  width: 100%;
  height: 100px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 3px;
  vertical-align: text-top;
  resize: vertical;
}

.form-largeinput.error {
  border-color: red; /* Change border color to red when in error state */
}

.error-message {
  color: red; /* Style the error message text color */
  margin-top: 5px; /* Add some spacing between input and error message */
  display: block; /* Ensure the error message appears as a block below the input */
}
.space-padding{
  padding: 10px 10px 10px 10px;
}

.space-padding2{
  padding: 10px 24px 10px 10px;
}

.dropdown {
  background-color: white;
  border: 1px solid black;
  padding: 10px; /* Adjusted to 10px on all sides */
  width: 200px;
  border-radius: 3px;
  margin-bottom: 10px;
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
}

.dropdown-item{
  padding:10px;
  transition: background-color 0.3s ease;
  background-color: white;
}
.dropdown-item:hover{
  background-color: #f46f22;
}

.radiobuttonGroup {  
  display: flex;  
  flex-direction: row;  
  align-items: left;  
  gap: 10px;
  
}
.radiobutton {  
  padding: 10px 20px;  
  border: 1px solid black;  
  border-radius: 5px;  
  cursor: pointer;
  background-color: white;
}
.radiobuttonselected {  
  background-color: #f46f22;;  
  color: white;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.temselection-container {
  width: 100%;
  height: 100%;
  background-color: #2f2c53;
  border: 2px solid #f46f22;
  padding: 20px;
  box-sizing: border-box;

}
.header-container{
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.sub-header-container{
  font-weight: bold;
  font-style: italic;
  text-align: left;
  margin-bottom: 20px;
  color: white;
}

.section-container{
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #f46f22;
  border-radius: 3px;
  width: 100%;
  text-align: left;
  align-items: center;
  height: 250px;
  
}
.h1{
  color: white;
  font-weight: bold;
  text-align: center;
}

.button-container{
  text-align: right;
  padding: 20px;
  
}

.button-align-right{
  background-color: #f46f22;
  color: white;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  max-width: 100px;
  width: 80%;
  height: 30px; 
}

.button-align-right:hover{
  opacity: 0.9;
}
.button-align-center{
  background-color: #f46f22;
  color: white;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  max-width: 100px;
  width: 80%;
  height: 30px; 
}

.button-align-right:hover{
  opacity: 0.9;
}



.img-gallery{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #f46f22 ;
  border-radius: 3px;
  opacity: 0.9;
}

.img-wrapper{
  display: inline;
  white-space: nowrap;
  transition: transform 0.3s ease-in-out;
}

.img {
  max-width: 80%;
  height: auto;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}

.img-scroller{
  margin:4px;
  padding:4px;
  background-color: #f46f22;
  width: 100%;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: auto; 
}

.gallery-item {
  flex: 0 0 calc(50% - 5px); 
  margin-right: 10px; 
  margin-bottom: 10px; 
  width: 100%; 
  max-width: calc(50% - 5px); 
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box; 
}


.gallery-item:nth-child(2n) {
  margin-right: 0;
}


.gallery-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.bold-white-center {
  font-weight: bold;
  color: black;
  text-align: center;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.selected-option {
  background-color: white;
  border: 2px solid #f46f22;
  border-radius: 3px;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid #f46f22;
  border-radius: 3px;
  border-top: none;
  width: 100%;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.option:hover {
  background-color: #f46f22;
  color: white;
}

.option-text {
  margin-right: 20px; /* Adjust the margin as needed */
}

.llm-container {
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically align items */
  gap: 10px; /* Add a gap of 10px between the items */
  margin-top: 20px;
}

.parent-container{
  display: flex;
  height: 100vh;
}
.upload-button {
  color: black;
  text-decoration: underline;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E4DCCF;
  
}

.login-box {
  background-color: #fff;
  border: 2px solid #f46f22;
  border-radius: 3px;
  padding: 20px;
  width: 500px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
  margin-bottom: 20px;
  color: #f46f22;
}

.input-field {
  margin-bottom: 20px;
  text-align: left;
}

.input-field label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-button {
  background-color: #f46f22;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-button:hover {
  background-color: #ff8c3e;
}
.google-sign-in-button {
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.google-sign-in-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.session-list {
  list-style: none;
  padding: 0;
  height: 500px; 
  overflow-y: scroll; 
  border: 1px solid #ccc; 
}

.session-row {
  text-decoration: none;
  color: black; 
  
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease-in-out;
}

.session-row:hover {
  background-color: #ff8c3e; ; 
}